.App {
  display: flex;
  position: relative;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
  border: 2px solid rgb(24, 148, 127);
  border-radius: 50%;
  background-color: white;
  padding: 1em
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-image: linear-gradient(to bottom right,rgb(239, 255, 245),rgb(73, 158, 144), rgb(9, 97, 82));
  position: fixed;
  width: 175px;
  height: 100%;
  padding: 35px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight:300;
  color: rgb(255, 254, 254);
  border-right: 1px solid rgb(24, 148, 127)
}

.App-header ul ol {
  padding: 15px;
  padding-right: 3rem;
  align-items: center;
  justify-content: center;
}

.main {
  justify-content: center;
  display: flex;
  background-color: rgb(102, 102, 49);
}
.main h1 {
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(24, 148, 127);
  background-color: #f2f2f2;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
