.grid {
  position: absolute;
  margin-top: 360px;
  margin-left: 300px;
  display: grid;
  height: 50vh;
  width: 150vh;
  grid-template-columns: auto auto auto;
  padding: 3em;
  border: solid 0.2px black;

}

.grid-item {
  position: relative;
  background-image: linear-gradient(to bottom right,rgba(231,232,236,255));
  padding: 20px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
  justify-content: center;

}

.grid-item img{
  height: 150px;
  width: 220px;
}

.grid-item span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
}