.sidebar{
  background-image: linear-gradient(to bottom right,rgb(239, 255, 245),rgb(107, 190, 142), rgb(9, 97, 38));
  position: relative;
  width: 175px;
  height: 100vh;
  padding: 35px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-box-shadow: 0px 3px 4px rgb(5, 70, 50);
  -webkit-box-shadow: 0px 3px 4px rgb(9, 77, 9);
  box-shadow: 0px 3px 4px rgb(0, 7, 2);

}

.logo {
  height: 5rem;
  pointer-events: none;
  border: 2px solid rgb(24, 148, 127);
  border-radius: 50%;
  background-color: white;
  padding: 1em
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

ul{
 margin-top: 7em; 
 align-self: center;
 align-items: center;
 flex-direction: column;

}

ul ol {
  margin-top: 4em;
  padding: 1px;
  padding-right: 3rem;
  align-items: center;
  justify-content: center;
}


dashboard-button {
  width: 175vh;
  margin: 0 auto ;
  margin-top: 1em;
  align-items: center;
  appearance: none;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  }
  
  dashboard-button:hover {
    background-image: linear-gradient(to bottom right,rgb(239, 255, 245),rgb(73, 158, 144), rgb(9, 97, 82));
    color: rgb(24, 148, 127);
  }
  
  button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  }
  
  button:focus {
  outline: none;
  border: 2px solid rgb(24, 148, 127);
  }
  
  button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  h1 {
    text-align: center;
    margin-top: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-stretch: expanded;
    font-style: oblique;
    color: white;
    text-shadow: 0.5px 0.5px green;
  }

  