body {
  margin: 0;
  padding: 0;
  position: sticky;
}

.Navbar {
  background-color: #538075;
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px 0px 10px #538075;
}

.sidebar {
  position: absolute;
  background-color: #538075;
  color: white;
  top: 3px;
  margin-top: 69px;
  left: 0;
  height: 175vh;
  width: 250px;
  box-shadow: 0px 0px 10px #538075;
}

.sidebar li {
  list-style: none;
  padding: 1rem 3rem;
  align-self: center;

  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.sidebar li a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.sidebar li:hover {
  width: 215px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 4%;
  justify-items: center;
  background-color: #80a396;
  color: rgb(255, 255, 255);
}

.space {
  padding-top: 5em;
}
