.Dashboard {
  width:100vw ;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: rgb(12, 88, 76);
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem
}


.sidebar {
  position: absolute;
  background-color:rgb(12, 88, 76);
  color: white;
  top: 0px;
  margin-top: 50px;
  left: 0;
  height: 100vh;
  width: 250px;
  transform: translateX(-100%);
  transition: all 0.4s;
}

.sidebar li {
  list-style: none;
  padding: 1rem 2rem;
  border-bottom: solid rgb(255, 255, 255) 0.5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.sidebar li:hover {
  background-color: white;
  color: black;
 }

 .sidebar--open{
  transform: translateX(-0%);
 }

.backdrop {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: none;
}

.backdrop--open{
  transform: translateX(-0%);
 }