@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@400;700&display=swap');

$dark: rgb(255, 255, 255);
$light: #fbfbfb;

$animation-speed-fast: .8s;
$animation-speed-slow: 1s;



body {
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.booking {
  width: 50%;
}

.booking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // height: 110vh;
  position: sticky;
}


.card {
  margin: 2em;
  width: 230px;
  height: 325px;
  position: relative;
  perspective: 1000px;
  transform: perspective(1000px) translateY(0);
  transform-style: preserve-3d;
  transition: transform $animation-speed-fast ease-in-out;

  
  &.dark{
    background-color:$dark ;
    color: $light;
    margin-top: 30px;
    
    .purchase-button{
      border: 1px solid rgb(255, 255, 255);
    }
  }
  
  &.light{
    background-color: $light;
    color: $dark;
    .purchase-button{
      border: 1px solid  rgb(9, 73, 57);
    }
  }
}

.card-container{
  display: flex;
}


.card-wrapper:hover{
  .card{
    transform: rotateY(179deg);
    z-index: 2;
    
    .text-overlay{
      opacity: 0;
      transform-style: preserve-3d;
      z-index: 1;
    }
    
    .purchase-button-container{
      opacity: 1;
    }
  }
}

.text-overlay{
  transform: perspective(1000px) translateY(0) translateZ(80px);
  transition: transform $animation-speed-fast ease-in-out, opacity $animation-speed-slow ease;
  pointer-events: none;
  width: 100%;
  perspective: inherit;
  // padding-top: 50px;
  
}

h1{
  color: $dark;
}

h2{
  font-size: .9rem;
  text-align: center;
  font-weight: 500;
}

.price{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 20px;
}

.purchase-button-container{
  // color: rgb(125, 184, 157);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
  // opacity: 0;
  z-index: -1;
  transition: transform $animation-speed-fast ease-in-out, opacity $animation-speed-slow ease;
  width: 100%;
  height: 100%;
  
  .purchase-button{
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background-color .25s ease, color .25s ease;
    cursor: pointer;
    
    &.light:hover{
      background-color: rgb(0, 46, 34);
      color: $light;
    }
    
    &.dark:hover{
      background-color: rgb(255, 255, 255);
      color: $dark;
    }
  }
}

.details-text{
  margin-top: 20px;
  display: flex;
  gap: 10px 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
  font-size: .75rem;
}

small{
  font-size: .75rem;
  font-weight: 100;
  color: #858585;
}

.back-h2{
  font-size: 2rem;
  margin-top: 0;
}

.card-photo {
  margin: auto 0;
}

.mentor-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  // width: 10vh;
  // margin-left: 200px;
  position: sticky;
} 


