.card-wrapper2 {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 230px;
  margin-top: 14em;
  margin: 6em auto;
  text-align: center;
  height: 325px;
  position: relative;
  perspective: 1000px;
}

.card_photo2 {
  align-self: center;
  margin: 0 auto;
}

.card2 img {
  display: flex;
  height: 325px;
  align-items: center;
  border: 0.3px solid black
}