.row-my-5{
  // width: 25em;
  margin: 1em auto;
  margin-top: 1em;
  /* border: 0.5px solid black; */
  padding: 1em;
}

header {
  font-size: 50px;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 20px;
}

.skill{
  font: bold;
}

.border-bottom {
font: bold;
}

input#name.form-control { 
  position: relative;
  padding: 10px 0 0;
  width: 50px;
  font-family: inherit;
  width: 40vh;
  border: 0;
  border-bottom: 1px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 5px 0;
  background: transparent;
  border: none transparent;
outline: none;
}

form-control:focus {
  outline: none;
}

.form-control {
  background: transparent;
  border: none transparent;
  border-bottom: 0.5px solid black;
  outline: none;
  width: 40vh;
}

.form-control-button{
  font-size: 16px;
  letter-spacing: 1px;
  outline: 0;
  margin-top: 14px;
  margin-left: 14px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  user-select: none;
}


.form-control-button:after {
  content: "";
  background-color: #538075;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.form-control-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .form-control-button {
    padding: 10px 15px 10px;
  }
}

// span {
//   font-size: 14px;
//   font: inherit;
//   font-style: italic;
// }