@media screen and (min-width: 1441px) {
  .menteeprofile-wrapper {
    height: 120vh;
  }
  .fw-iframe {
    display: flex;
    position: relative;
    margin-left: 2em;
    top: 5em;
  }

  .carousel {
    display: flex;
    top: 5em;
    margin-left: 7em;
  }

  .carousel.slide {
    width: 80vh;
  }

  .card2 img {
    display: flex;
    height: 325px;
    align-items: center;
    border: 0.3px solid black;
    border: 0.3px solid black;
    border-radius: 0.25rem;
    margin-left: 10px;
  }

  .card-wrapper2 {
    top: 0;
    display: flex;
    text-align: center;
  }

  .outlinecard {
    display: flex;
    height: 80px;
    justify-content: center;
  }

  .spotify {
    margin: auto;
    margin-right: 8.7rem;
  }

  .notepad {
    margin: auto;
    margin-right: 1em;
  }
}

@media screen and (max-width: 1440px) {
  .menteeprofile-wrapper {
    height: 120vh;
  }

  .fw-iframe {
    display: flex;
    position: relative;
    margin-left: 4em;
    width: 25%;
    top: 5em;
    height: 300px;
  }

  .carousel {
    display: flex;
    top: 5em;
    /* margin-left: 2em; */
  }

  .carousel.slide {
    width: 80vh;
  }

  .card2 img {
    display: flex;
    height: 325px;
    align-items: center;
    border: 0.3px solid black;
    border: 0.3px solid black;
    border-radius: 0.25rem;
    margin-left: 10px;
  }

  .card-wrapper2 {
    top: 0;
    display: flex;
  }

  .outlinecard {
    display: flex;
    height: 80px;
    justify-content: center;
  }

  .spotify {
    margin: auto;
    margin-right: 8.7rem;
    position: relative;
    top: 70px;
    width: 350px;
    height: 425px;
  }

  .notepad {
    /* margin: auto; */
    /* margin-right: 1em; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    position: relative;
    /* bottom: 19px; */
    top: 70px;
  }
  .profile-name,
  .card_description,
  .card_tag,
  .edit-button {
    margin-left: 60px;
    display: flex;
    justify-content: center;
  }
}
