@media screen and (min-width: 1441px) {
  .modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 700px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
}

@media screen and (max-width: 1440px) {
  // .modalBackground {
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(200, 200, 200);
  //   position: fixed;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  .modalContainer {
    width: 350px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    left: 60px;
    bottom: 820px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    display: flex;
    align-items: center;
    background-color: crimson;
    height: 35px;
    width: 90px;
  }

  #submitBtn {
    display: flex;
    align-items: center;
    height: 35px;
    width: 90px;
  }

  .edit-profile-form {
    font-size: 14px;
  }

  .update-form {
    position: relative;
    width: 250px;
    margin: 0 auto;
    background: transparent;
    padding: 20px 22px;
  }

  .edit-label {
    height: 95px;
  }

  .edit-title {
    max-width: 52ch;
    line-height: 1.5;
    padding: 0em;
    margin: 0px;
  }

  .edit-orange-main {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    position: relative;
    bottom: 60px;
  }
}
