.card-wrapper10 {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 230px;
  margin-top: 14em;
  margin: 6em auto;
  height: 325px;
  position: relative;
  perspective: 1000px;
}

.card10 .detail-img {
  display: flex;
  height: 700px;
  align-items: center;
  border-radius: 10%;
  box-shadow: rgb(203 200 200) 10px 10px 8px;
}

.mentee-detail-img .detail-img {
  display: flex;
  position: relative;
  left: -355px;
  top: -30px;
}

.card-descriptions,
.card-skills,
.card-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6em;
  border-radius: 25px;
  box-shadow: rgb(203 200 200) 10px 10px 8px;
  margin: 60px;
  height: 110px;
}

.card-descriptions {
  margin-top: 0px;
}

.mentee-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

h3 {
  font-weight: bold;
}

.all-cards {
  position: relative;
  bottom: 700px;
  right: -340px;
}
