:root {
  background-image: linear-gradient(to bottom right,rgba(248,248,248,255),rgba(240,240,240,255), rgba(231,232,236,255));
}
.search {
  padding: 0.5em;
  position: absolute;
  width: 600px;
  margin-left: 300px;
  margin-top: 15px;
  border: 0.5px solid;
}