.main {
  width:100vw ;
  height: 100vh;
  margin: 0;
}

.orange-main {
  height: 100vh;
}

.orange-main {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.head-main {
  margin: 0 auto;
  top: 0;
  font-size: 200px;
  color: #538075;
  z-index: 2;
}


.o3 {
  height: 200px;
  width: 200px;
  margin-bottom: -20px;
}

.sage-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.buttons {
  justify-content: space-between;
  margin: 13px 12px 12px 10px;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #538075;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 250px;
}

h4 {
  font-size: 14px;
  width: 25rem;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}


a:link{
  color:white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}
