
.options{
  font-size: 16px;
  width: 15em;
  height: 2.5em;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 1px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  user-select: none;
}
