.carouselblock {
height: 40vh;
width: 70vh;
margin: 0 5em;
border: 0.5px solid black;
border-radius: 0.25rem;
box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);

}

.p_bolded {
  font-size: large;
}

strong {
  font-style: inherit;
}