#bg {
  position: fixed;
  width: 100%;
  height: 100%; 
}

form {
  position: relative;
  width: 250px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 22px;
}

form input, form button {
  width: 212px;
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  font: inherit;
  letter-spacing: .075em;
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 19px;
 
}


.button-52:after {
  content: "";
  background-color: rgb(9, 73, 57);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.login {
  font-size: 14px;
  width: 25rem;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

.space{
  width: 7rem;
  height: auto;
  display: inline-block;
}

a:link{
  color:white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}